.form {
	padding: 62px 16px 113px;
    width: 100vw;
	height: 100vh;
	background-color: #fff;
	color: #000;
	
}

@media screen and (min-width: 900px) {
	.form {
		width: 520px;
		height: auto;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		padding: 48px 102px 48px 98px;
	}
}

.title {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	margin-bottom: 55px;
}

.messageBlockTitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	margin: 0;
	text-align: center;
}

.messageBlockDescription {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #7B7B7B;
	text-align: center;
}

.item {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}
  
.form input {
	font-weight: 400;
}
  
.form input:not([type="submit"]) {
	font-size: 18px;
	line-height: 21px;
	color: #828282;
}

.btn_text {
	display: inline-flex;
	align-items: center;
	padding: 0 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #828282;
	text-transform: initial;
}